PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# TiDB Database Configuration
TIDB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_USER=Adm74fDqzyiouw8.root
TIDB_PASSWORD=your_password
TIDB_DATABASE=sys
TIDB_CA_PATH=cert/isrgrootx1.pem
